body {
	background-image: url("../images/konoha.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.panel {
    background-image: url("../images/scroll.jpg");
    margin-top:30%;
    margin-left: 37%;
    padding-bottom: 10%;
    background-color: rgba(245, 245, 245, 0);
    border-color: rgba(245, 245, 245, 0);

}

#game-title{
	font-weight: bold;
	font-size: 25px;
	margin:0% 0% 1% 40%;
	color: #ffffff;
}


.overlay {
  background-color: #241913;
  opacity: 0.85;
  margin-top: 5%;
}

p{
color:#ffffff;

}

h3{
    color:#ffffff;
}

h1{
    color:#ffffff;
}